<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147947922133-pnvgqbqkfgamehgc5oifdg1luf9dh7mh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147947922133-pnvgqbqkfgamehgc5oifdg1luf9dh7mh</string>
	<key>API_KEY</key>
	<string>AIzaSyBZY5Y3CPkqVNvZkx39a5jyyg1PsZxZwnY</string>
	<key>GCM_SENDER_ID</key>
	<string>147947922133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bobycx.Bolt-Chat</string>
	<key>PROJECT_ID</key>
	<string>bolt-chat-90dab</string>
	<key>STORAGE_BUCKET</key>
	<string>bolt-chat-90dab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147947922133:ios:a9399e5fd32141da</string>
	<key>DATABASE_URL</key>
	<string>https://bolt-chat-90dab.firebaseio.com</string>
</dict>
</plist>